.footer {
  position: relative;
  background: $primary;
}

.footer__heading {
  text-align: center;
  font-family: "Berlingske Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $white;
}
