.header {
  background-color: $primary;
  position: relative;
}

.logo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 15px 23px;
  @media #{$tablet} {
    padding: 10px 0px;
  }
}

.logo__wrap {
  max-width: 198px;
  width: 100%;

  padding: 3px 0 2px;
  .header__logo-image {
    width: 100%;
    object-fit: contain;
  }
}

.header__info {
  max-width: 526px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  @media #{$header} {
    justify-content: flex-end;
  }
  @media #{$tablet} {
    align-items: flex-end;
    flex-direction: column;
    gap: 8px;
  }
  @media only screen and (max-width: 400px) {
    flex-direction: row;
    align-items: center;
    gap: 0px;
  }

  a {
    font-weight: 700;
    @include fsz(18px);
    line-height: 1.22;
    text-align: right;
    color: $white;
    @media #{$header} {
      @include fsz(16px);
    }
    @media #{$tablet} {
      @include fsz(0px);
    }
    &:hover {
      color: $alt;
      .icon {
        fill: $alt;
      }
    }
  }
  .header__info-wrapper {
    @media #{$header} {
      margin-right: 15px;
    }
  }
  .header__contact {
    font-family: $primary-family;
    font-weight: 500;
    @include fsz(12px);
    text-align: right;
    color: $white;
    text-transform: uppercase;

    @media only screen and (max-width: 400px) {
      @include fsz(0px);
    }
    .icon {
      width: 18px;
      height: 18px;
      margin-right: 6px;
      @media #{$header} {
        width: 16px;
        height: 16px;
        margin-right: 0px;
      }
    }

    @media #{$tablet} {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
.header__details {
  max-width: 272px;
  width: 100%;
  @media #{$header} {
    width: auto;
  }
  @media #{$tablet} {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .icon {
    width: 20px;
    height: 20px;
    fill: $white;
    margin-right: 10px;
    @media #{$header} {
      width: 18px;
      height: 18px;
    }
  }
}

.header__details-phoneNo {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  @media #{$tablet} {
    border-bottom: none;
    align-items: center;
    padding-bottom: 0px;
  }
  a {
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(16px);
    line-height: 1.18;
    color: $white;
    @media #{$header} {
      @include fsz(14px);
    }
    @media #{$tablet} {
      @include fsz(0px);
    }
    &:hover {
      color: $alt;
    }
  }
}
.header__email {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  a {
    display: flex;
    align-items: center;
    .icon-icon-email {
      width: 20px;
      height: 16px;
      margin-right: 6px;
      fill: $white;

      @media #{$header} {
        width: 18px;
        height: 18px;
      }
    }
  }
  @media #{$tablet} {
    padding-top: 0px;
    justify-content: center;
    align-items: center;
  }
}

//main Nav
.header__mainNav {
  background-color: $black-dark;
  position: relative;
  @media #{$header} {
    padding: 0;
  }

  > .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    @media #{$header} {
      flex-direction: column-reverse;
    }
  }
}

.header__navList {
  display: flex;
  padding: 17px 0px;
  max-width: 900px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media #{$header} {
    flex-direction: column;
    display: none;
    max-width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 122;
  }
}

.header__menuBar-wrapper {
  @media #{$header} {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header__navLinks {
  @media #{$header} {
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(16px);
    line-height: 1;
    text-transform: capitalize;
    color: $white;
    padding: 0px 15px 10px;
    &:hover {
      transition: all 0.01s ease;
      border-bottom: 2px solid $tertiary-alt;
    }
    @media #{$header} {
      @include fsz(20px);
    }
  }
}

.header__search {
  display: flex;
  flex-direction: row-reverse;
  .icon-search {
    width: 20px;
    height: 20px;
    fill: $white;
  }
}

.header__navList.open {
  display: flex;
}

.header__navList.open .menuBar__container {
  display: none;
}

#search-button .icon {
  font-size: 18px;
}

.header__search-field {
 display: none;
  width: 150px;
  background-color: $white;
  margin-right: 10px;
  border-radius: 20px;
  
  input {
    padding: 0 8px;
   
  }
}
