.header {
  background-color: $primary;
  padding-top: 22px;
  
}

.logo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$header} {
    padding: 0;
    align-items: flex-start;
  }

  .header__logo {
    padding: 3px 0 25px;
    @media #{$header} {
      padding-bottom: 10px;
    }
  }
}

.logo__wrap {
  max-width: 198px;
  width: 100%;
  height: 50px;
  @media only screen and (max-width: 650px) {
    margin-right: 20px;
  }
  .header__logo-image {
    width: 100%;
    object-fit: cover;
  }
}

.header__info {
  max-width: 526px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: $primary-family;
  font-weight: 500;
  @include fsz(12px);
  line-height: 1.1;
  text-align: right;
  color: $white;

  @media #{$header} {
    align-items: flex-end;
  }
  @media only screen and (max-width: 810px) {
    max-width: 100%;
    align-items: center;
    margin-left: 26px;
  }

  @media only screen and (max-width: 460px) {
    flex-direction: column;
    align-items: center;
  }
  a {
    font-weight: 700;
    @include fsz(18px);
    line-height: 1.2;
    text-align: right;
    color: $white;
    @media #{$header} {
      @include fsz(15px);
    }
    @media only screen and (max-width: 460px) {
      @include fsz(13px);
    }

    &:hover {
      color: $alt;
    }
  }
  @media only screen and (max-width: 460px) {
    @include fsz(10px);
  }

  .header__info-wrapper {
    display: flex;
    width: 100%;

    @media only screen and (max-width: 650px) {
      align-items: center;
      margin-bottom: 4px;
    }
  }
  .header__contact {
    max-width: 224px;
    width: 100%;
    text-transform: uppercase;
    margin-right: 10px;
    @media #{$phone} {
      svg {
        display: none;
      }
      @media only screen and (max-width: 460px) {
        display: block;
      }
    }
  }
  .header__profile {
    max-width: 40px;
    width: 100%;
    object-fit: cover;
    margin-right: 30px;
    @media only screen and (max-width: 810px) {
      display: none;
    }
  }
}
.header__details {
  max-width: 272px;
  width: 100%;
  @media only screen and (max-width: 650px) {
    display: flex;
  }
  @media only screen and (max-width: 460px) {
    display: flex;
    justify-content: flex-end;
  }
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  @media #{$phone} {
    width: 70%;
  }
  @media only screen and (max-width: 460px) {
    width: 100%;
  }
}

.header__details-phoneNo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 6px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  @media #{$phone} {
    padding-bottom: 0;
    border: none;
  }
  a {
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
}
.header__email {
  padding-top: 6px;
  display: flex;
  justify-content: flex-end;
  .icon-icon-email {
    width: 30px;
    height: 20px;
    margin-right: 6px;
    @media #{$phone} {
      display: none;
    }
    @media only screen and (max-width: 650px) {
      display: block;
      width: 20px;
    }
  }
  @media #{$phone} {
    padding-top: 0;
  }
  a {
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
}

//main Nav
.header__mainNav {
  // padding: 18px 0 17px;
  background-color: $black-dark;
  position: relative;
  padding: 10px 0;
  @media #{$header} { 
    padding: 0;
  }
  
  > .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$header} { 
      flex-direction: column-reverse;
    }

    
  }
  
}

.header__navList {
  display: flex;
  padding: 17px;
  max-width: 875px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media #{$header} {
  
    flex-direction: column;
    display: none;
    max-width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 122;
  }
}

.header__menuBar-wrapper {
  @media #{$header} {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
  }
}

.header__navLinks {
  @media #{$header} {
    
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(16px);
    line-height: 1;
    text-transform: capitalize;
    color: $white;
    padding-bottom: 10px;
    &:hover {
      transition: all 0.1s ease;
      border-bottom: 2px solid $quarternary-alt;
    }
    @media #{$header} {
      @include fsz(26px);
    }
  }
}

.header__search {
  .icon-icon-search {
    width: 20px;
    height: 20px;
    fill: $white;
  }
}


.header__navList.open {
  display: flex;
}

.header__navList.open .menuBar__container {
  display: none;
}