.blog {
    position: relative;
  padding-bottom: 42px;
  @media #{$tablet} {
   padding-bottom: 0px;
   }
}

.blog__heading {
  font-family: $secondary-family;
  font-style: italic;
  font-weight: 400;
  @include fsz(26px);
  line-height: 1.2;
  color: $black;
  margin-bottom: 24px;
  .blog__title {
    font-family: $primary-family;
    font-style: normal;
    font-weight: 800;
    @include fsz(30px);
    line-height: 1.1;
    color: $black-dark;
    margin-bottom: 10px;
    @media #{$tablet} {
        @include fsz(26px);
       }
  }
  @media #{$tablet} {
    @include fsz(22px);
   }
}


.blog__grid {
width: 100%;
display: flex;
justify-content: space-between;
align-items: baseline;
@media #{$header} {
   flex-wrap: wrap;
  }
}

.blog__grid-content {
   
    width: 30%;
  font-family: $primary-family;
  font-weight: 400;
  @include fsz(16px);
  line-height: 22px;
  mix-blend-mode: normal;
  color: rgba(0, 0, 0, 0.75);
  @media #{$header} {
    max-width: 370px;
    width: 100%;
    margin-bottom: 30px;
   }
   @media only screen and (max-width: 1024px) {
    max-width: 100%;
  }
  .blog__subtitle {
    font-weight: 700;
    @include fsz(18px);
    line-height: 1.4;
    letter-spacing: -0.173077px;
    color: $black-dark;
     margin: 15px 0 10px;
    
  }
}

.grid__media {
    max-width: 370px;
    height: 220px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover ;
        
    }
}