.breadcrumbs {
  padding: 20px 0;
  @media #{$tablet} {
    padding: 10px 0;
  }
}

.breadcrumbs__list {
    width: 100%;
  display: flex;
  align-items: center;
  
  li {
    display: flex;
    align-items: center;
    margin-right: 5px;
    
    .breadcrumbs__links {
        position: relative;
      font-family: $primary-family;
      font-weight: 400;
      @include fsz(16px);
      line-height: 1.27;
      color: $black-dark;
      margin-right: 7px;
      
      border-bottom: 2px solid $black-dark;
      &:hover {
        text-decoration: none;
      }
      @media #{$tablet} {
        @include fsz(14px);
      }
      @media #{$phone} {
        @include fsz(14px);
      }
      @media only screen and (max-width: 450px) {
        @include fsz(10px);
      }
      &:last-child {
        border-bottom: none;
       }
    }
    
    .breadcrumbs__links--alt {
       text-decoration: none;
       &:hover {
        text-decoration: underline;
       }
    }
    .icon {
        width: 14px;
        height: 14px; 
        font-weight: 400;
        fill: $black;
     }

    
  }
}
