.grid-content {
  background-color: $tertiary-alt;
  padding: 100px 0;
  margin-bottom: 100px;
  @media #{$tablet} {
    padding: 30px 0;
    margin-bottom: 30px;
  }
}
.grid-content__title {
  font-family: $secondary-family;
  font-weight: 400;
  @include fsz(68px);
  line-height: 1;
  color: $white;
  text-align: center;
  margin-bottom: 60px;
  @media #{$header} {
    @include fsz(48px);
  }
  @media #{$tablet} {
    @include fsz(38px);
    margin-bottom: 30px;
  }
  @media #{$phone} {
    @include fsz(32px);
  }
}

.grid-content-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}
.grid-content__row {
  position: relative;
  width: 30%;
  
  @media #{$header} {
    width: 40%;
  }
  @media #{$tablet} {
    width: 100%;
    margin-right: 0;
  }
}

.grid-content__media {
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 235px;
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media #{$tablet} {
    max-width: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    border-radius: 0px 0px 4px 4px;
    background-repeat: no-repeat;
  }
  .grid-content__tag {
    position: absolute;
    max-width: 113px;
    width: 100%;
    bottom: auto;
    top: 31px;
    left: 12px;
    right: auto;
    z-index: 12;
    font-family: $secondary-family;
    font-weight: 600;
    @include fsz(16px);
    line-height: 1;
    text-transform: uppercase;
    color: $white;
    &:after {
      content: "";
      position: absolute;

      width: 100%;
      height: 28px;
      top: -7px;
      left: -12px;
      right: auto;
      bottom: auto;
      background-image: url("data:image/svg+xml,%3Csvg width='113' height='28' viewBox='0 0 113 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M113 28L0 28L2.44784e-06 -3.42031e-07L113 9.53674e-06L100.351 13.3L113 28Z' fill='black' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
}

.grid-content__sub-heading {
  position: absolute;
  bottom: 15px;
  top: auto;
  right: auto;
  left: 12px;
  z-index: 12;
  .grid-content__subTitle {
    font-family: $primary-family;
    font-weight: 800;
    @include fsz(22px);
    line-height: 1.2;
    color: $white-alt;
    @media #{$desktop} {
      @include fsz(20px);
    }
    @media #{$header} {
      @include fsz(18px);
    }
  }
}

.grid-content__details {
  width: 100%;
  padding: 20px;
  border-radius: 4px 4px 40px 4px;
  background-color: $white;
}
.grid-content__content {
  width: 100%;
  margin-bottom: 20px;
}
.grid-content__main-row {
  width: 100%;
  font-family: $secondary-family;
  font-weight: 600;
  @include fsz(16px);
  line-height: 1.18;
  text-transform: uppercase;
  color: $black-dark;
  text-align: left;
  @media #{$desktop} {
    @include fsz(14px);
  }
}

.grid-content__data-row {
  font-family: $primary-family;
  font-weight: 400;
  @include fsz(18px);
  line-height: 1.2;
  color: $black;
  @media #{$desktop} {
    @include fsz(14px);
  }
}

.grid-content__description {
  font-family: $primary-family;
  font-weight: 400;
  @include fsz(16px);
  line-height: 1.37;
  color: $black;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  @media #{$desktop} {
    @include fsz(14px);
  }
}

.grid-content__link {
  a {
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(16px);
    line-height: 1.1;
    color: $tertiary;
    @media #{$desktop} {
      @include fsz(14px);
    }
    &:hover {
      color: $alt;
    }
  }
}
