.hero {
  position: relative;
}

.hero__heading {
  width: 100%;
  position: absolute;
  z-index: 12;
  left: 0;
  top: 115px;
  right: 0;
  text-align: center;

  .hero__title {
    font-family: $secondary-family;
    font-weight: 400;
    @include fsz(48px);
    line-height: 1.2;
    color: $white;
    text-align: center;
    margin-bottom: 10px;
    @media #{$tablet} {
      @include fsz(32px);
    }
    @media #{$phone} {
      @include fsz(28px);
    }
  }
}

.hero__media {
  width: 100%;
  height: 450px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:after {
    content: " ";
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 450px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
  }
}

.hero__arrow {
  position: absolute;
  width: 100%;
  z-index: 23;
  padding: 0 30px;
  display: flex;
  align-items: center;
  top: 50%;
  justify-content: space-between;
  .icon {
    cursor: pointer;
    fill: $white;
    opacity: 0.5;
    width: 20px;
    height: 32px;
    @media #{$tablet} {
      width: 18px;
      height: 20px;
    }
  }
}

.hero__search-button {
  position: relative;
  height: 75px;
  width: 42%;
  background-color: $white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 15px 0 30px;
  mix-blend-mode: normal;
  outline: 4px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.6);
  border-radius: 45px;
  @media only screen and (max-width: 1024px) {
    height: 45px;
    width: 70%;
  }
  // @media #{$header} {
  //   width: 80%;
  // }
  @media #{$phone} {
    // width: 70%;
    padding: 0 4px 0 10px;
  }

  .hero__button {
    position: relative;
    text-transform: uppercase;
    background: $tertiary;
    padding: 18px 28px 18px 45px;
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(16px);
    line-height: 1;
    letter-spacing: 0.5px;
    color: $white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    border-radius: 100px;
    z-index: 122;
    margin-left: auto;
    @media only screen and (max-width: 1024px) {
      padding: 8px 12px 8px 40px;
      font-weight: 500;
      @include fsz(14px);
    }
    @media only screen and (max-width: 510px) {
      @include fsz(12px);
      font-weight: 400;
    }
    &:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_129_2449)'%3E%3Cpath d='M19.7266 17.293L15.832 13.3984C15.6562 13.2227 15.418 13.125 15.168 13.125H14.5312C15.6094 11.7461 16.25 10.0117 16.25 8.125C16.25 3.63672 12.6133 0 8.125 0C3.63672 0 0 3.63672 0 8.125C0 12.6133 3.63672 16.25 8.125 16.25C10.0117 16.25 11.7461 15.6094 13.125 14.5313V15.168C13.125 15.418 13.2227 15.6563 13.3984 15.832L17.293 19.7266C17.6602 20.0938 18.2539 20.0938 18.6172 19.7266L19.7227 18.6211C20.0898 18.2539 20.0898 17.6602 19.7266 17.293ZM8.125 13.125C5.36328 13.125 3.125 10.8906 3.125 8.125C3.125 5.36328 5.35937 3.125 8.125 3.125C10.8867 3.125 13.125 5.35938 13.125 8.125C13.125 10.8867 10.8906 13.125 8.125 13.125Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_129_2449'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 123;
      right: 0;
      left: 20px;
      @media only screen and (max-width: 1024px) {
        width: 14px;
        height: 14px;
      }
    }
  }

  #search {
    position: absolute;
    width: 70%;
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(18px);
    line-height: 1.2;
    color: $black;
    opacity: 0.6;
    @media only screen and (max-width: 1200px) {
      @include fsz(14px);
      font-weight: 500;
    }

    @media #{$tablet} {
      width: 60%;
    }
  }

  input::placeholder {
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(18px);
    line-height: 1.2;
    color: $black-dark;

    @media only screen and (max-width: 510px) {
      color: transparent;
    }
  }
}
