.trip-list {
  padding-bottom: 30px;
  .trip-lists__lists {
    list-style-image: url("uploads/include.png");
  }

  .trip-lists__lists--cross {
    list-style-image: url("uploads/exclude.png");
  }
}

.trip-list__icon-bar {
    max-width: 770px;
    width: 100%;
  padding-left: 13px;
  display: flex;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
border-radius: 4px;
  margin-top: 30px;
  @media #{$phone} {
    padding-left: 0px;
   }
  
  .trip-list__link {
    padding:30px 20px ;
    border-right: 1px solid rgba(0, 0, 0, 0.2) ;
    @media #{$phone} {
     padding: 20px 10px;
    }
    &:last-child {
        border-right: none;
    }
   a {
      font-family: $primary-family;
      font-weight: 700;
      @include fsz(16px);
      line-height: 1.2;
      letter-spacing: 0.5px;
      color: $black-dark;
      display: flex;
      align-items: center;
      @media #{$tablet} {
        @include fsz(14px);
      }

      @media only screen and (max-width: 500px) {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      }
      &:hover {
        color: $tertiary;

        svg {
            fill: $tertiary;
        }
      }

      .icon {
        max-width: 25px;
        width: 100%;
        height: 25px;
        object-fit: cover;
        margin-right: 10px;
        @media #{$phone} {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}


.trip-list__popup-content {
  display: none;
  max-width: 800px;
  margin: 40px auto;
  height: 100%;
  width: 100%;
  .trip-list__content-title {
    
    font-family: $secondary-family;
    @include fsz(38px);
    line-height: 1;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }


}

.trip-list__content-link {
  width: 100%;
  text-align: right;
  
  margin-left: auto;
  a {
    
    font-family: $primary-family;
    @include fsz(20px);
    line-height: 1;
    color: $white;
    background-color: $tertiary-alt;
    padding: 15px 30px;
    border-radius: 20px;
   
    .icon{
      
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }

    &:hover {
      color: $tertiary-alt;
      background-color: $white;
      border: 1px solid $tertiary-alt;

      .icon {
        fill: $tertiary-alt;
      }
    }
  }
}